<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>All about blogging! The blogsite all about blogs!
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/newUser">Register</a>
        <a href="/api/logout">Logout</a>

    </header>
    <main class="container">
        <header>
            <h1>Techblog</h1>
        </header>
        {{{body}}}
    </main>
</body>
</html>