<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header id="main-header">
        <h1 id="tagline">All about blogging! The blogsite all about blogs!</h1>
        <a class="navLink" href="/">Home</a>
        <a class="navLink" href="/login">Login</a>
        <a class="navLink" href="/newUser">Register</a>
        <a class="navLink" href="/api/logout">Logout</a>

    </header>
    <main class="container">
        <header>
            <h1>Techblog</h1>
        </header>
        {{{body}}}
    </main>

</body>
</html>