<form id="login-form">
    <label>Please login to continue:</label>
    <input id="login-username" type="text" placeholder="Username" required>
    <input id="login-password"  type="password" placeholder="Password" required>
</form>