<form id="login-form">
    <label>Please login to continue:</label>
    <input id="login-email" type="text" placeholder="Email" required>
    <input id="login-password"  type="password" placeholder="Password" required>
</form>


<script src="/js/login.js"></script>