<form id="login-form">
    <label>Please login to continue:</label>
    <input id="new-username" type="text" name="username" placeholder="Username" required>
    <input id="new-email" type="text" placeholder="Email" required>
    <input id="new-password"  type="password" placeholder="Password" required>
</form>
<btn id="newSubmit" type="submit" text="Submit"></btn>


<script src="/assets/js/comment.js"></script>