<form id="new-user-form">
    <label>Use this form to register a new user:</label>
    <input id="new-username" type="text" name="name" placeholder="Username" required>
    <input id="new-email" type="text" placeholder="Email" required>
    <input id="new-password"  type="password" placeholder="Password" required>
    <input id="newSubmit" type="submit" text="Submit">
</form>



<script src="/js/newUser.js"></script>