<div>
    <div>
        <h3>ID: <span id="post-id">{{post.id}}</span></h3>
        <h1>{{post.title}}</h1>
        <p>{{post.text}}</p>
    </div>


    <form id="add-comment-form">
        <label>Comment Body</label>
        <textarea id="comment-body"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>

<script src="/assets/js/comment.js"></script>